html {
	font-family: 'Nunito', sans-serif;
	padding: 0px;
	margin: 0px;
	color: #212121;
	width: 100%;
}

body {
	margin: 0px;
	background-image: url("./images/landing.jpg");
	background-color: rgba(0, 0, 0, 0.5);
	background-blend-mode: overlay;
}

header {
	background-color: #ff7474;
	display: block;
	height: 50px;
	width: 100%;
}

.landing {
	text-align: center;
	margin-top: 45px;
	color: white;
}

.landingTitle {
	font-family: 'Fugaz One', cursive;
}

.fbLoginButtonContainer {
	margin-top: 105px;
	margin-bottom: 45px;
}

.demoAccountInfo {
	font-size: 12px;
	color: lightgrey;
}



button {
	background-color: #ff7474;
	color: white;
	border: 0px solid;
	border-radius: 3px;
}

.copyToClipboard {
	background: none;
	border: 0.5px solid darkgrey;
	color: lightgrey;
	margin-left: 5px;
}

input {
	border: 0.5px solid lightgrey;
	border-radius: 1px;
	width: 100px;
	padding: 3px;
	margin-right: 2px;
	margin-bottom: 5px;
	height: 10px;
}

.green {
	color: #2bcecb;
}

.red {
	color: #ed5353;
}
.blue {
	color: #1a9ed7;
}

.memo {
	height: 40px;
	width: 60%;
}

.goToMainPage, .logOutButton {
	margin: 10px;
	margin-top: 15px;
	font-size: 12px;

}
.goToMainPage {
		float: left;

}
.logOutButton {
	float: right;
	
}

.left {
	float: left;
}
.right {
	float: right;
}

nav {
	text-align: center;
	font-size: 25px;
	border-bottom: 1px lightgrey solid;
}

main {
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 10px;
	width: 300px;
	margin: 0 auto;
}

ul {
	list-style: none;
}

.transactionTotle {
	margin-top: 25px;
}

.ui-helper-hidden-accessible {
	display: none;
}

.ui-autocomplete {
	background-color: white;
	border: 0.5px solid lightgrey;
	width: 100px;
	font-size: 13px;
	color: darkgrey;
}

.buttonContainer {
	margin-top: 25px;
	border-top: 1px lightgrey solid;
	padding-top: 25px;
}

.bigButton {
	width: 100%;
	height: 20px;
	margin: 0 auto;
	margin-top: 5px;
	font-size: 12px;
}

.date {
	color: darkgrey;
	font-size: 15px;

}
.transaction {
	display: block;
	width: 100%;
	border-bottom: dotted lightgrey 0.5px;
	margin-bottom: 5px;
}
.transactionDetails {
	display: block;
	width: 100%;
}


.billdescription {
	font-size: 15px;
}
.billSplit {
	font-size: 15px;
}
.hidden {
	display: none;
}